fieldset
    border 1px solid #D1D1D1
    padding 10px
    margin-bottom 10px

.domain
    fill none
    stroke black
    color black
    stroke-width 0.2px


.simulator
    background-color #fdd6d6

a.simulator-help
    display inline-block
    width 17px
    height 17px
    text-align center
    border-radius 17px
    margin-left 10px
    font-size 12px
    line-height 17px
    border 1px solid black
    text-decoration none
    &:hover
        text-decoration none

.panel-title
    font-size 14px !important

.panel-heading
    padding 7px 11px !important

.panel-group, .panel
    border 0 !important
    -webkit-box-shadow none !important
    -moz-box-shadow none !important
    box-shadow none !important
    border-radius 0 !important

.panel-group .panel-heading+.panel-collapse>.panel-body
    border-top 0 !important
    border-bottom 1px solid #ddd !important
    padding-top 0 !important

.panel:last-child
    border-top 1px solid black !important
    border-radius none !important
#rodiceForm
    .items
        li
            &:first-child
                a
                    display none

.panel-default>.panel-heading
    background-color white !important
    background-image url("") !important

.title
    font-size 24px

#results
    h4
        display inline-block

.label
    &.label-info
        font-size 50%
        top -10px
        position relative

a.btn
	text-decoration none